.features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--inputs);
	border-radius: 10px;
	max-width: calc(50% - 40px);
	padding: 44px 52px;
}
.groupIcons {
	gap: 8px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.vehicleDataHeader {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 24px;
}
.vehicleDetailData {
	border-top: 1px solid var(--gray-light);
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.vehicleDetailDataElement {
	display: flex;
	justify-content: space-between;
}
.elementText {
	line-height: 24px;
}
